html, body {
	height: 100%;
}

.header {
    background: #F7F7F7;
    box-shadow: 0 0 12px gray;
    margin-top: 0;
}
.header > h1 {
	display: inline-block;
	font-weight: normal;
	margin-left: 20px;
	font-size: 24pt;
	position: relative;
	top: 16px;
}
.header_menu {
	 float: right;
}
.form_container {
	height: 100%;
}
.form_side_divider {
	background: none repeat scroll 0 0 rgba(62, 110, 163, 0.73);
    margin-left: 75px;
    width: 2px;
    float: left;
    display: inline;
    height: 2600px;
}
.form_first_divider {
	background: rgba(204, 218, 227, 0.74);
    border: 1px solid #3D7FC9;
    border-left: 0;
    border-right: 0;
    height: 11px;
    
}
.form_second_divider {
	background: #295196;
    height: 4px;
    margin-top: 6px;
}
/*
.form_circle_group {
	display: inline-block;
    margin-right: 20%;
    position: absolute;
    top: 36px;
    right: 0;
}
.form_circle {
	border-radius: 46px;
    height: 46px;
    width: 46px;
    display: inline-block;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #FF4933;
}
.form_circle_selected {
	background: #0770C6;
    border: 1px solid #002C64;
    box-shadow: 0 1px 3px 0 rgba(29, 29, 29, 0.843);
    color: white;
    font-weight: bold;
}
.form_circle > h1 {
	display: inline-block;
    font-size: 24pt;
    font-weight: normal;
    left: 14px;
    position: relative;
    top: -6px;
}
*/
.form_heading {
	background: white;
    color: #3C3C3C;
    font-size: 45px;
    font-weight: 100;
    left: -60px;
    margin: 40px 0;
    padding: 30px 0;
    position: relative;
    text-shadow: 0 1px 1px #363636;
}

.form_body {
	margin: 0 130px;
}

.form_section_links{
	font-size: 18pt;
    margin-top: 30px;
    text-align: center;
}
.form_section_link {
	display:inline-block;
	padding: 6px;
}
.form_section_link:hover {
	color: gray;
	cursor: pointer;
}
.form_section_link_selected {
	background: rgba(204, 218, 227, 0.74);
}

.form_section_header {
	color: #3F3F3F;
    font-size: 16pt;
    font-weight: normal;
    margin: 0;
    line-height: inherit;
}
.form_section_subheader {
	color: #7C7C7C;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 30px 24px;
}

.form_section_divider {
	background: #C1C1C1;
    height: 1px;
    margin: 30px 0;
}

.form_account_label {
	text-decoration: underline; 
	display: inline-block;
	font-size: 12pt;
}
.account > .input_type1 {
	margin-left: 36px;
}



label {
	display: inline-block;
	width: 120px;
	margin-right: 20px;
	font-size: 11pt;
}

.input_item {
	margin: 12px 8px;
}
.input_item input {
	margin:0 16px;
}

.new_field,
.new_debt_account,
.new_cash_account {
	margin-top: 20px;
}

.icon-plus {
	margin-right: 8px;
}
.icon-remove {
	margin-right: 8px;
	position: relative;
	left: 4px;
}

.delete_item,
.delete_account {
	border-radius: 20px;
	height: 20px;
	width: 20px;
	padding: 0;
	margin-right: 10px;
	box-shadow: 0 1px 2px 0 #888888;
}


.content_box {
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px gray;
    color: #636363;
    margin: 40px;
    min-height: 250px;
    padding: 20px 30px;
}

.scenario_column {
     width: 152px; 
     border-right: 2px solid black; 
     float:left;
}


input.input_percentage {
     margin: 0 12px;
}

#new_scenario:hover {
    background: gray;
    cursor: pointer;
}
.case_tag{
     width: 148px; 
     border: 1px solid black; 
     border-bottom: 0; 
     border-radius: 12px 12px 0 0; 
     height: 50px; 
     text-align: center; 
     box-shadow: 0 0 1px 1px #888888; 
     display: inline-block;
}
.case_tag h4 {
     margin-top: 16px;
     text-shadow: 0 1px 1px #888888;
}
#case0_tag {
    margin-left:180px; 
}

#output_grid1 table td,
#output_grid2 table td {
    border: 1px solid black;
    padding: 5px 10px;
}
.table_y_axis {
    font-weight: bold;
}

.tab-pane table td,
.tab-pane table th {
    border: 1px solid black;
    padding: 5px 10px;
}